* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 1200px;
  width: 100%;
  height: 92%;
  margin-top: 30px;
  padding: 0;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 61%;
  transform: translate(-50%, -50%);
}

.head {
  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: white;
  border-bottom: 2px solid black;
}

.head-9 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-h3 {
  font-weight: bold;
  font-family: sans-serif;
}

.body {
  width: 100%;
  height: 86%;
  padding: 0px 20px 20px 20px;
  overflow-y: auto;
  /* background-color: white; */
  background-color: #080e33;
  background: url(../images/chat-background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btm {
  width: 100%;
  height: 76px;
  background-color: rgb(242, 242, 242);
  padding: 0px 75px;
  position: absolute;
  bottom: 0px;
}

/* Inputs */

#chat_search {
  border: thick;
  background-color: #ededed;
  padding: 10px 15px;
  width: 90%;
  border-radius: 50px;
}

#input {
  width: 90%;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 10px;
  /* margin-top: 15px;
  margin-left: -42px; */
}

.label {
  color: rgb(0, 0, 0);
  border-bottom: 2px solid black;
  background-color: rgba(0, 0, 0, 0.295);
}

/* USERS message-box */

.user1 {
  max-width: 70%;
  padding: 15px;
  float: left;
  margin: 10px;
  display: table;
  clear: both;
  background-color: #f8f9fab0;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  word-break: break-word;
}

.user2 {
  max-width: 70%;
  padding: 15px;
  float: right;
  margin: 10px;
  display: table;
  clear: both;
  background-color: #005a83e6;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 20px;
  word-break: break-word;
}

/* some temporary settings  */
.hashtag {
  height: 94%;
  width: 100%;
  padding: 25px !important;
  position: absolute;
  top: unset;
  left: unset;
}

.inside-body {
  margin: unset;
}
