*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 10px;
  scrollbar-color: #4e1d4e #f1f1f1;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e1d4e; 
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f235f; 
}


.inside-body {
  margin: 50px;
}

body,
#listrow {
  background-color: #ffffff;
  overflow: hidden;
}

.main-div {
  margin-top: 10px;
  padding: 10px;
}

.messages {
  margin-bottom: 100px;
}

/* Input Filed */
#input {
  border: none;
  border-radius: 20px;
  width: 80%;
  padding: 10px 10px;
  margin: 15px 10px;
  vertical-align: middle;
}

/* Submit Button */
.submit {
  width: auto;
  border-radius: 20px;
  vertical-align: middle;
  padding: 7px 14px;
  margin: 0px 5px;
  border: 1px solid #dedddd;
  font-style: italic;
}

#inputbar {
  margin-top: 90%;
}

/* SIDEBAR */

/* channel Button */
.channel-btn {
  border: none;
  color: rgb(0, 0, 0);
  margin-left: 48%;
}

/* channel_list */

.hashtag {
  height: 95%;
  /* background-color: rgb(102, 16, 124); */
}

.hashtag,
.sidebar-ulist,
.sidebar-list {
  /* color: rgb(190, 50, 255); */
  /* background-color: rgb(102, 16, 124); */
  color: rgba(0, 0, 0, 0.67);
  background-color: #f9f9f9;
  border: None;
  font-weight: bold;
  overflow-y: auto;
}

.sidebar-list:hover {
  color: rgb(255, 255, 255);
  /* background-color: #0f7299; */
  background-color: #4e1d4ef2;
  border-radius: 30px;
  font-size: x-large;
  text-align: justify;
  cursor: pointer;
}

.sidebar-head {
  color: solid rgb(190, 50, 255);
  /* margin-bottom: 20px; */
  border-bottom: 2px solid;
}

a {
  text-decoration: none;
}
