body {
  overflow-y: hidden;
  cursor: pointer;
}

.body {
  background: url(../images/Create_user.png) no-repeat center center fixed;
  background-size: cover;
  height: 80.7%;
  padding: 10px 5px 2px 5px;
  word-wrap: anywhere;
}

.main {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0px;
  border: none;
  z-index: auto;
}

.sticky-top .row {
  display: flex;
  flex-wrap: unset;
}

#input {
  border: none;
  border-radius: 20px;
  width: 80%;
  margin: 15px 8px;
  vertical-align: middle;
  padding: 10px;
}

.btm {
  width: 100%;
  height: 10%;
  background-color: rgb(242, 242, 242);
  position: absolute;
  /* bottom: 28px; */
  padding: 0px 2px;
}

.submit {
  width: auto;
  border-radius: 20px;
  vertical-align: middle;
  padding: 7px 14px;
  border: 1px solid #dedddd;
  font-style: italic;
}

.user1 {
  max-width: 70%;
  padding: 5px;
  float: left;
  margin: 4px;
  display: table;
  clear: both;
  color: black;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: unset;
}

.user2 {
  max-width: 70%;
  padding: 5px;
  float: right;
  margin: 2px;
  display: table;
  clear: both;
  background-color: #005a83e6;
}

/* misselenious */

hr {
  margin-top: 0;
}

.hashtag,
.sidebar-ulist,
.sidebar-list {
  border-bottom: 1px solid black;
  border-block-width: thin;
}

.hashtag {
  left: 0;
  z-index: 2000;
  height: 93%;
  top: 7%;
}

.head-h3 {
  font-size: 22px;
  margin-bottom: 0;
}

.sticky-top{
  height: 66px;

}