body {
  overflow: hidden;
  cursor: pointer;
}

.body {
  background: url(../images/Create_user.png) no-repeat center center fixed;
  background-size: cover;
  height: 82.17%;
  padding: 10px 5px 2px 5px;
  word-wrap: anywhere;
  top: 7.82%;
  position: absolute;
}

.main {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0px;
  border: none;
  z-index: auto;
}

.sticky-top .row {
  display: flex;
  flex-wrap: unset;
}

.btm {
  width: 100%;
  height: 10%;
  background-color: rgb(242, 242, 242);
  position: absolute;
  /* bottom: 28px; */
  align-items: center;
  display: flex;
  padding: 0px 2px;
}

#form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
}

#input {
  border: none;
  border-radius: 20px;
  width: 80%;
  vertical-align: middle;
  padding: 10px;
}

.btm #input:focus {
  margin-bottom: 4px;
}

.submit {
  width: auto;
  border-radius: 20px;
  vertical-align: middle;
  padding: 7px 14px;
  border: 1px solid #dedddd;
  font-style: italic;
}

.user1 {
  max-width: 70%;
  padding: 5px;
  float: left;
  margin: 4px;
  display: table;
  clear: both;
  color: black;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: unset;
}

.user2 {
  max-width: 70%;
  padding: 5px;
  float: right;
  margin: 2px;
  display: table;
  clear: both;
  background-color: #005a83e6;
}

/* misselenious */

hr {
  margin-top: 0;
}

.hashtag,
.sidebar-ulist,
.sidebar-list {
  border-bottom: 1px solid black;
  border-block-width: thin;
}

.hashtag {
  left: 0;
  z-index: 2000;
  height: 90%;
  top: 10%;
  position: absolute;
}

.head-h3 {
  font-size: 22px;
  margin-bottom: 0;
}

.sticky-top {
  height: 10%;
  padding: unset;
}

.head {
  height: 45px;
  padding: 5px;
}

#extras {
  transform: rotate(90deg);
  outline: none;
  box-shadow: none;
}

.dropdown-menu {
  position: absolute;
  transform: translate3d(-115px, 0px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

/* SIDEBAR LIST */

/* .sidebar-list:hover {
    color: black;
    background-color: #131c211e;
    border-radius: 0;
    font-size: inherit;
    text-align: justify;
    cursor: pointer;
  } */

@keyframes list_hover {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.sidebar-list:focus {
  animation-name: list_hover;
  animation-duration: 0.1s;
  transition: all ease-in-out;
}

.sidebar-list:hover {
  color: black;
  border-radius: 0;
  font-size: inherit;
  text-align: justify;
  cursor: pointer;
  background-color: #131c211e;
}
