:root {
  --icon-color: rgba(0, 0, 0);
}

body {
  overflow: hidden;
  cursor: pointer;
}

.body {
  background: url(../images/Create_user.png) no-repeat center center fixed;
  background-size: cover;
  padding: 10px 5px 2px 5px;
  word-wrap: anywhere;
  position: absolute;
  height: 83%;
  top: 7%;
}

.main {
  width: 100%;
  height: 100%;
  padding: 0;
  transform: none;
  margin: 0;
  border: none;
  z-index: auto;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 1000; */
}

.sticky-top .row {
  display: flex;
  flex-wrap: unset;

  width: 100%;
  height: 100%;
  margin: 0;
}

.btm {
  width: 100%;
  height: 10%;
  background-color: rgb(242, 242, 242);
  align-items: center;
  display: flex;
  padding: 0px 2px;
  position: fixed;
  bottom: 0;
}

#form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
  position: absolute;
}

#input {
  border: none;
  border-radius: 20px;
  width: 80%;
  vertical-align: middle;
  padding: 10px;
}

.btm #input:focus {
  margin-bottom: 4px;
}

.submit {
  width: auto;
  border-radius: 20px;
  vertical-align: middle;
  padding: 7px 14px;
  border: 1px solid #dedddd;
  font-style: italic;
}

.user1 {
  max-width: 70%;
  padding: 5px;
  float: left;
  margin: 4px;
  display: table;
  clear: both;
  color: black;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: unset;
}

.user2 {
  max-width: 70%;
  padding: 5px;
  float: right;
  margin: 2px;
  display: table;
  clear: both;
  background-color: #005a83e6;
}

/* misselenious */

hr {
  margin-top: 0;
}

.hashtag,
.sidebar-ulist,
.sidebar-list {
  border-bottom: 1px solid black;
  border-block-width: thin;
}

.hashtag {
  left: 0;
  z-index: 2000;
  /* top: 10%; */
  height: 100%;
  position: fixed;
}

.head-h3 {
  font-size: 22px;
  margin-bottom: 0;
}

.head {
  padding: 5px;
  top: 0;
  border: none;
  position: fixed;
  height: 7%;
  width: 100%;
}

#extras {
  transform: rotate(90deg);
  outline: none;
  box-shadow: none;
}

#inChatSearch {
  width: 100%;
  z-index: 1;
  transition:all ease 0.6s;
  position: fixed;
  top: 0;
  left: 0;
  height: 7%;
  margin: 0;
  display: none;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

#inChatSearch:focus {
  width: 100%;
}

#inChatSearch .search-chat {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

#inChatSearch .search-chat #chat_search {
  border: none;
  background-color: #ededed;
  padding: 10px 15px;
  width: 90%;
  outline: none;
  border-radius: 30px;
}

.dropdown-menu {
  transition: all 0.6s ease 0s, transform 0.6s ease 0s;
  position: absolute;
  transform: translate3d(-120px, 40px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

/* SIDEBAR LIST */

/* .sidebar-list:hover {
    color: black;
    background-color: #131c211e;
    border-radius: 0;
    font-size: inherit;
    text-align: justify;
    cursor: pointer;
  } */

@keyframes list_hover {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.sidebar-list:focus {
  animation-name: list_hover;
  animation-duration: 0.1s;
  transition: all ease-in-out;
}

.sidebar-list:hover {
  color: black;
  border-radius: 0;
  font-size: inherit;
  text-align: justify;
  cursor: pointer;
  background-color: #131c211e;
}

/* misseleneos */
.fas {
  color: var(--icon-color);
}
