{% extends 'layout.html' %}

{% block title %}
    All Channels
{% endblock %}

{% block link %}
    <!-- <script src="../static/js/socket.js"></script> -->
{% endblock %}


{% block body %}


    <div class="row container-fluid">
        <div class="card-deck">
         <!-- <div class="col-2">

            <div class="card">
                <div class="card-header">
                    channel
                </div>
                <div class="card-body">
                    this is a discription.

                </div>
            </div>

        <!-- </div> -->
    
     <!-- <div class="card-deck"> 
         <div class="card">
         <img class="card-img-top" src="..." alt="Card image cap">
         <div class="card-body"> 
            <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <span class="mr-5" title="Users Joined"><i class="fas fa-user"></i> 100</span>
                </div>
                <div class="col">
                     <button onclick="joinChannel()" class="btn btn-outline-primary font-weight-bold float-right">Join</button>
                </div>
            </div> -->
            
        <!-- </div>   -->
  </div> 
     
    
    </div>


{% endblock %}


<!-- FOOTER STARTS -->
{% block footer %}
<footer style="margin-top: 25%;">

    <div class="align-text-bottom text-muted text-center border-top my-2 pt-4 font-weight-bold">
        <p>Copyright ©2020, All rights reserved.</p>
    </div>
</footer>
{% endblock %}
<!-- FOOTER ENDS -->


{% block script %}

<!-- Creating Channel Cards -->

<script>

    // assigning the returned Channels_list array from the server
    const channelName = {{ message.channelNamelist|tojson}}    //using |tojson, we can access jinja variable directly
    const channelDescription = {{ message.channelDescriptionlist|tojson}}

    // Creating channel List
    document.addEventListener('DOMContentLoaded',()=>{

                        //list of channels fetching from localStorage
        for (let i = 0; i < channelName.length; i++) {
            
                    //Tag creation

                var colDiv = document.createElement('div')
                colDiv.classList    =  'col-md-3  col-sm-6 bg-white my-3 channelCard'  

                var div = document.createElement('div')
                div.classList    =  'card bg-white' 

                //card image
                var img = document.createElement('img')
                    img.classList = 'card-img-top'
                    img.src = "../static/images/image.jpg"
                    img.alt = "Card image cap"
                    img.style.height = '230px'

                    // card body
                var div2 = document.createElement('div')
                div2.classList = 'card-body'

                    // card-title
                var h5 = document.createElement('h5')
                h5.classList = 'card-title font-weight-bold'

                    // card-text
                var p = document.createElement('p')
                p.classList = 'card-text'

                    // card footer
                var footer = document.createElement('div')
                footer.classList =   'card-footer'

                    // footer inner
                    var icon = document.createElement('i')
                    icon.classList = 'fas fa-user'
                    icon.style.marginRight = "5px"

                    var span = document.createElement('span')
                    span.classList = 'mr-5'
                    span.append(icon)
                    span.append(channelDescription[i].NoOfUsers)       //no of users of a channel

                var button = document.createElement('button')
                button.setAttribute('class', 'channelButton btn btn-outline-primary font-weight-bold float-right')   

                //adding values
                h5.textContent = `${channelName[i]}`
                p.textContent    = channelDescription[i].description
                button.textContent = 'Join'
                    
                //appending

                // foooter
                footer.append(span)
                footer.append(button)

                //col-body
                div2.append(h5)
                div2.append(p)

                //coard main
                div.append(img)
                div.append(div2)
                div.append(footer)
                colDiv.append(div)
                //row
                document.querySelector('.card-deck').append(colDiv) 

        }


    });



</script>


<!-- Joining channel chunk -->

<script>


document.addEventListener('DOMContentLoaded',()=>{

    const userSession = '{{ userSession }}' //received value to check weather user logged in or not.

    if (userSession === 'True') {


            // getting users already joined channels from the localStorage  cardh5
        var chList = JSON.parse(localStorage.getItem('channelList'))

        var cardDeck = document.querySelectorAll('.channelCard')    //selecting all the cards

        // looping thorugh all of it, and listening button click.
        cardDeck.forEach(element => {
        element.addEventListener("click", event =>{
        

        
        // if it's button then do further
        if (event.target.matches('button')) {
    
        let title = event.currentTarget.querySelector('h5').textContent.slice('1')

            
        // condition
        var result = chList.find(element => element === title)

        if (result == undefined) {
    
        let list = []       //creating new array
                
        chList.forEach(element => {         //passing all items of localStorage to new array
            list.push(element)
        });

        list.push(title)            //pushing new Channel into list
        localStorage.setItem('channelList',JSON.stringify(list))        //setting up the new users joined channels list

        
        // now emitting to update the channels.csv user's Count.
        

        var socket = io.connect(location.protocol + "//" + document.domain + ":" + location.port);

        socket.on('connect', ()=>{
            
            let obj = {
                channel: '#' + title,
                userCount:1,
                updation:true
                }
        
            socket.emit('update new user',obj)

        });



        // changing appearance effect of button
        
        
        event.target.textContent = 'Joined'
        event.target.classList.remove()
        event.target.classList   = 'channelButton btn font-weight-bold float-right btn-outline-success'
        
        // reloading the page.
        // location.reload(true)

                }
            }

            });
        
        
        //checking if channel is already joined by user or not if yes, then change appearance and disable it.
        let name = element.querySelector('.card-title').textContent.slice(1)

        if (chList.includes(name)) {
            let btn = element.querySelector('button')
            btn.classList.remove()
            btn.classList = 'channelButton btn font-weight-bold float-right btn-outline-success'
            btn.textContent = 'Joined'
            btn.setAttribute('disabled','')
        }
        
        });


    } else {

    // disabling the button, because user isn't logged in yet.
    document.querySelectorAll('.btn').forEach(element => {
        element.setAttribute('disabled','')

    });

    }



});

</script>
{% endblock %}