{% extends 'layout.html' %}

{% block title %}
    All Channels
{% endblock %}



{% block body %}


    <div class="row container-fluid">
        <div class="card-deck">

        <!-- <div class="col-2">

            <div class="card">
                <div class="card-header">
                    channel
                </div>
                <div class="card-body">
                    this is a discription.

                </div>
            </div>

        </div>
    
    <div class="card-deck">
        <div class="card">
         <img class="card-img-top" src="..." alt="Card image cap">
         <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
  </div>
    
    
    
    
    
    -->
    </div>

{% endblock %}

<!-- FOOTER STARTS -->
{% block footer %}
<footer style="margin-top: 20%;">

    <div class="align-text-bottom text-muted text-center border-top my-2 pt-4 font-weight-bold">
        <p>Copyright ©2020, All rights reserved.</p>
    </div>
</footer>
{% endblock %}
<!-- FOOTER ENDS -->


{% block script %}

<script>


    document.addEventListener('DOMContentLoaded',()=>{

        var channel = JSON.parse(localStorage.getItem('channelList'))
        channel.forEach(element => {

            //Tag creation

           var colDiv = document.createElement('div')
           colDiv.classList    =  'col-md-3  col-sm-6'  

           var div = document.createElement('div')
           div.classList    =  'card' 

           var div2 = document.createElement('div')
           div2.classList = 'card-body'

           var h5 = document.createElement('h5')
           h5.classList = 'card-title font-weight-bold'


           var p = document.createElement('p')
           p.classList = 'card-text'

           //adding values

           h5.innerHTML = `#${element}`
           p.innerHTML == 'this is a description.'

        //appending
           //col-body
           div2.append(h5)
           div2.append(p)

           //coard main
           div.append(div2)
           colDiv.append(div)
           //row
           document.querySelector('.card-deck').append(colDiv) 

        });

    });
























    
    // document.addEventListener('DOMContentLoaded',()=>{

    //     var channel = JSON.parse(localStorage.getItem('channelList'))
    //     channel.forEach(element => {

    //         //Tag creation
    //        var div = document.createElement('div')
    //        div.classList    =  'col-2' 

    //        var div2 = document.createElement('div')
    //        div2.classList = 'card-deck border border-light bg-white'

    //        var div3 = document.createElement('div')
    //        div3.classList = 'card-body'

    //        var div4 = document.createElement('div')
    //        div4.classList = 'card-title font-weight-bold'

    //        var div5 = document.createElement('div')
    //        div5.classList = 'card-text'

    //        //adding values

    //        div4.innerHTML = `#${element}`
    //        div5.innerHTML = 'this is a discription.'
           
    //        //appending
    //        //col-body
    //        div3.append(div4)
    //        div3.append(div5)

    //        //card 
    //        div2.appendChild(div3)

    //        //coard main
    //        div.append(div2)
    //        //row
    //        document.querySelector('.row').append(div) 

    //     });

    // });

</script>
{% endblock %}