{% extends 'layout.html' %}

{% block title %}
    All Channels
{% endblock %}


{% block body %}


    <div class="row container-fluid">
        <div class="card-deck">
         <!-- <div class="col-2">

            <div class="card">
                <div class="card-header">
                    channel
                </div>
                <div class="card-body">
                    this is a discription.

                </div>
            </div>

        <!-- </div> -->
    
     <!-- <div class="card-deck"> 
         <div class="card">
         <img class="card-img-top" src="..." alt="Card image cap">
         <div class="card-body"> 
            <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <span class="mr-5" title="Users Joined"><i class="fas fa-user"></i> 100</span>
                </div>
                <div class="col">
                     <button onclick="joinChannel()" class="btn btn-outline-primary font-weight-bold float-right">Join</button>
                </div>
            </div> -->
            
        <!-- </div>   -->
  </div> 
     
    
    </div>


    <div hidden>
        <p id="temp-array">{{ message }}</p>
    </div>
{% endblock %}


<!-- FOOTER STARTS -->
{% block footer %}
<footer style="margin-top: 25%;">

    <div class="align-text-bottom text-muted text-center border-top my-2 pt-4 font-weight-bold">
        <p>Copyright ©2020, All rights reserved.</p>
    </div>
</footer>
{% endblock %}
<!-- FOOTER ENDS -->


{% block script %}

<!-- Creating Channel Cards -->

<script>

    // assigning the returned Channels_list array from the server

    var temp = document.getElementById('temp-array').textContent
    var arr = eval(temp)


    // Creating channel List
    document.addEventListener('DOMContentLoaded',()=>{

                        //list of channels fetching from localStorage
        // var channel = JSON.parse(localStorage.getItem('channelList')) 
        arr.forEach(element => {

            //Tag creation

           var colDiv = document.createElement('div')
           colDiv.classList    =  'col-md-3  col-sm-6 bg-white my-3 channelCard'  

           var div = document.createElement('div')
           div.classList    =  'card bg-white' 

           //card image
           var img = document.createElement('img')
            img.classList = 'card-img-top'
            img.src = "../static/images/image.jpg"
            img.alt = "Card image cap"
            img.style.height = '230px'

            // card body
           var div2 = document.createElement('div')
           div2.classList = 'card-body'

            // card-title
           var h5 = document.createElement('h5')
           h5.classList = 'card-title font-weight-bold'

            // card-text
           var p = document.createElement('p')
           p.classList = 'card-text'

            // card footer
           var footer = document.createElement('div')
           footer.classList =   'card-footer'

            // footer inner
            var icon = document.createElement('i')
            icon.classList = 'fas fa-user'

            var span = document.createElement('span')
            span.classList = 'mr-5'
            span.append(icon)
            span.append('100') 

           var button = document.createElement('button')
           button.setAttribute('class', 'channelButton btn btn-outline-primary font-weight-bold float-right')   

           //adding values
           h5.textContent = `${element}`
           p.textContent = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum expedita accusamus quidem, consequatur culpa amet dolor obcaecati provident incidunt explicabo iure, aut voluptate dicta architecto ratione enim officia? Aspernatur officia ea laborum quaerat commodi quae, sequi veritatis alias eligendi architecto saepe id impedit. Dignissimos fugit itaque id animi, incidunt dolorem!' 
           button.textContent = 'Join'
            
        //appending

            // foooter
            footer.append(span)
            footer.append(button)

           //col-body
           div2.append(h5)
           div2.append(p)

           //coard main
           div.append(img)
           div.append(div2)
           div.append(footer)
           colDiv.append(div)
           //row
           document.querySelector('.card-deck').append(colDiv) 

        });



    });



</script>


<!-- Joining channel chunk -->

<script>


document.addEventListener('DOMContentLoaded',()=>{

    // getting users already joined channels from the localStorage  cardh5
    var chList = JSON.parse(localStorage.getItem('channelList'))

    var cardDeck = document.querySelectorAll('.channelCard')    //selecting all the cards

    // looping thorugh all of it, and listening button click.
    cardDeck.forEach(element => {
    element.addEventListener("click", event =>{

        

    // if it's button then do further
    if (event.target.matches('button')) {
        
        let title = event.currentTarget.querySelector('h5').textContent.slice('1')

        
        // condition
        var result = chList.find(element => element === title)

        if (result == undefined) {
        
            let list = []       //creating new array
                    
            chList.forEach(element => {         //passing all items of localStorage to new array
                list.push(element)
            });

            list.push(title)            //pushing new Channel into list
            localStorage.setItem('channelList',JSON.stringify(list))        //setting up the new users joined channels list


            // changing appearance effect of button
            
            
            event.target.textContent = 'Joined'
            event.target.classList.remove()
            event.target.classList   = 'channelButton btn font-weight-bold float-right btn-outline-success'
    
            }




        }

    });
});




});

</script>
{% endblock %}