{% extends 'layout.html' %}


{% block link %}
  <script src="../static/js/index.js"></script>
  <!-- <link rel="stylesheet" href="../static/css/chat.css"> -->
{%endblock%}
{%block title%}
    chat app
{% endblock %}

{% block body %}   

<h1 id="heading"></h1>
<div class="row justify-content-between align-items-start">
      
    <!--SIDEBAR-->
    <div class="col-md-4 hashtag bs-sidebar">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    

    <!--MAIN BODY-->

    <div class="col-md-8  bg-dark align-self-stretch  main">
        
        <div class="head">
            <img src="" alt=""/>
            <h3>Message Box</h3>

        </div>


        <div class="messages form-group body">
                <ul class='container ul ' id="list">
          <!-- 
            <div class="row" id="listrow">
           
            <div class="card"  id="card-main">
                <div class="card-header" id="card-header">  
                    ## card header
                </div>
                <div class="card-body" id="card-body">
                 ## <p id="card-para" class="card-text"></p>
                </div>
            </div>
        -->
                    
                </ul>
        </div>
       


        <!-- Submit button-->
        <div class="btm">
            <form id="form" class="container-fluid align-self-end">
                <div class="form-group position-sticky justify-content-center container fixed-bottom">
                    <span>
                        <input class="d-inline-flex p-2 justify-content-center" id="input" placeholder="type your message here" autocomplete="off" type="text" required/>
                        <input class="submit" type="submit" />
                    </span>
                </div>
            </form>
        </div>







    </div>

</div>
    

<!-- <div class="main">
<div class="head"></div>
<div class="body"></div>
<div class="btn"></div>
</div>
 -->









{% endblock %}


{% block script %}

<script>

    document.addEventListener('DOMContentLoaded',()=>{

        document.querySelector('#heading').innerHTML = 'Hi, {{username}}'

    })
</script>

{% endblock %}