{% extends 'layout.html' %}


{% block link %}
  <script src="../static/js/index.js"></script>
  <script src="../static/js/localStorage.js"></script>
  <link rel="stylesheet" href="../static/css/chat.css">

{%endblock%}
{%block title%}
    chat app
{% endblock %}

{% block body %}   

<div class="row">
      
    <!--SIDEBAR     channel-btn-->

  
    <div class="col-md-3 hashtag bg-black bs-sidebar">

             <!-- sidebar head -->
        <h3 class="sidebar-head"> <strong>#Channels</strong>
        <button class="float-right btn d-inline" type="button" data-toggle="modal" data-target="#channelCreation" aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-2x fa-plus-circle"></i> </button>
        </h3>
        

        <!--  MODAL FOR NEW CHANNEL CREATION -->

        <div class="modal fade" id="channelCreation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Channel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
<!-- onsubmit="createNewChannelFunction()" -->
                <form id="CreateNewChannel" class="text-dark  justify-content-center">
                   <!-- Channel_Name -->
                   <div class="form-group">
                    <label for="channel_name" class="text-dark">Channel Name</label>
                    <input type="text" id="channel_name" class="form-control border-top-0 border-left-0 border-right-0 border-dark" placeholder="#ChannelName" autocomplete="off" required/>
                    <small class="text-red channelInvalidInput font-weight-bold text-danger"><hr/></small>
                    <small class="form-text text-muted">Your channel name must starts with <strong>#</strong> and should be 6-20 characters long containing letters and numbers, and must not contain spaces, special characters or emoji.</small>
                  </div>

                  <!-- Channel Discription  -->
                  <div class="form-group">
                    <label for="channel_discription">Discription about this channel</label>
                    <textarea  id="channel_discription" class="form-control border-top-0 border-left-0 border-right-0 border-dark" cols="5" rows="2" placeholder="type here" autocomplete="off"></textarea>
                  </div> 

                  <hr/>
                  <div class="form-group">
                    <button type="submit" class="btn btn-outline-success form-control">Submit</button>
                  </div>                  
                </form>
              </div>
              
            </div>
          </div>
        </div>
 


        <!--  -->
        <div class="sidebar-ulist">
        <ul class="list-group" id="ulist">
            <!-- <a onclick="chatboxheader();" href="#"> <div class="list-group-item  sidebar-list"># Porta ac consectetur ac </div>  </a>
            <a onclick="chatboxheader();" href="#"> <div class="list-group-item  sidebar-list"># Vestibulum at eros      </div>  </a>
            <a onclick="chatboxheader();" href="#"> <div class="list-group-item  sidebar-list"># Cras justo odio         </div>  </a>
            <a onclick="chatboxheader();" href="#"> <div class="list-group-item  sidebar-list"># Dapibus ac facilisis in </div>  </a>
            <a onclick="chatboxheader();" href="#"> <div class="list-group-item  sidebar-list"># Morbi leo risus         </div>  </a>
            <a onclick="chatboxheader();" href="#"> <div class="list-group-item  sidebar-list"># Porta ac consectetur ac </div>  </a>
            <a onclick="chatboxheader();" href="#"> <div class="list-group-item  sidebar-list"># Vestibulum at eros      </div>  </a> --> 
        </ul>

        </div>
    </div>

    <!-- SIDEBAR ENDS -->


    <!--MAIN BODY STARTS-->

    <div class="col-md-9 main container-fluid">
        
        <div class="head">
          <div class="row">
            
            <!-- channel Name -->
            <div class="col-md-3">
              <h3 class="head-h3">#Flack Channel</h3>
            </div>

            <div class="col-md-9">
              <!-- Joined users -->
              <span class="float-left d-flex align-middle">
                <i class="fas fa-2x fa-users p-1"></i>
                <h5 class="mx-1 font-weight-bold p-1">100</h5> 
              </span>

                <!-- search box -->
              <div class="search-chat text-center" style="display: block ruby; margin: -25px 120px;">
                
                <input type="text" id="chat_search" class="" name="chat_search" autocomplete="off" placeholder="search"/>
                <a href="#" id="chat_search_button"> <i class="fas fa-search text-dark"></i>  </a>
                <!-- <button type="submit" > </button> -->
              
              </div>

              <!-- extras : -->
              <button class="float-right btn btn-dark bg-white text-dark border-0" style="margin: -18px 20px;">
                <i class="fas fa-2x fa-ellipsis-v"></i>
              </button>
                  

            </div>


          </div>

        </div>


        <div class="body">


            <div class="user1 shadow-sm rounded">
                <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
                <hr/>
                <div  id="user">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum corporis saepe beatae, rem vel est quaerat recusandae culpa dignissimos voluptates reiciendis hic nostrum deleniti minima eaque magnam, ipsa incidunt porro veritatis odio consequatur? Nemo, sequi necessitatibus, culpa earum harum expedita consectetur recusandae eum ratione tempora ullam a vitae quis.</div>
              </div>
              
         <div class="user2 shadow-sm  rounded">
            <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
            <hr/>
           <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus doloremque sed a dolor veniam sapiente blanditiis quibusdam, nihil sequi.</div>
         </div>
              
         <div class="user1 shadow-sm  rounded">
                <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
                <hr/>
                <div  id="user">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum corporis saepe beatae, rem vel est quaerat recusandae culpa dignissimos voluptates reiciendis hic nostrum deleniti minima eaque magnam, ipsa incidunt porro veritatis odio consequatur? Nemo, sequi necessitatibus, culpa earum harum expedita consectetur recusandae eum ratione tempora ullam a vitae quis.</div>
              </div>
              
         <div class="user2 shadow-sm  rounded">
            <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
            <hr/>
           <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus doloremque sed a dolor veniam sapiente blanditiis quibusdam, nihil sequi.</div>
         </div>



         <div class="user1 shadow-sm  rounded">
          <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
          <hr/>
          <div  id="user">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum corporis saepe beatae, rem vel est quaerat recusandae culpa dignissimos voluptates reiciendis hic nostrum deleniti minima eaque magnam, ipsa incidunt porro veritatis odio consequatur? Nemo, sequi necessitatibus, culpa earum harum expedita consectetur recusandae eum ratione tempora ullam a vitae quis.</div>
        </div>
        
       <div class="user2 shadow-sm   rounded">
          <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
          <hr/>
         <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus doloremque sed a dolor veniam sapiente blanditiis quibusdam, nihil sequi.</div>
       </div>
     
     
     
       <div class="user1 shadow-sm  rounded">
        <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
        <hr/>
        <div  id="user">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum corporis saepe beatae, rem vel est quaerat recusandae culpa dignissimos voluptates reiciendis hic nostrum deleniti minima eaque magnam, ipsa incidunt porro veritatis odio consequatur? Nemo, sequi necessitatibus, culpa earum harum expedita consectetur recusandae eum ratione tempora ullam a vitae quis.</div>
      </div>

      <div class="user2 shadow-sm   rounded">
      <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
      <hr/>
      <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus doloremque sed a dolor veniam sapiente blanditiis quibusdam, nihil sequi.</div>
      </div>          




    <div class="user1 shadow-sm  rounded">
      <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
      <hr/>
      <div  id="user">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum corporis saepe beatae, rem vel est quaerat recusandae culpa dignissimos voluptates reiciendis hic nostrum deleniti minima eaque magnam, ipsa incidunt porro veritatis odio consequatur? Nemo, sequi necessitatibus, culpa earum harum expedita consectetur recusandae eum ratione tempora ullam a vitae quis.</div>
    </div>
    
    <div class="user2 shadow-sm   rounded">
    <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
    <hr/>
    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus doloremque sed a dolor veniam sapiente blanditiis quibusdam, nihil sequi.</div>
    </div>



    <div class="user1 shadow-sm  rounded">
      <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
      <hr/>
      <div  id="user">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum corporis saepe beatae, rem vel est quaerat recusandae culpa dignissimos voluptates reiciendis hic nostrum deleniti minima eaque magnam, ipsa incidunt porro veritatis odio consequatur? Nemo, sequi necessitatibus, culpa earum harum expedita consectetur recusandae eum ratione tempora ullam a vitae quis.</div>
    </div>

    <div class="user2 shadow-sm   rounded">
    <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
    <hr/>
    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus doloremque sed a dolor veniam sapiente blanditiis quibusdam, nihil sequi.</div>
    </div>



    <div class="user1 shadow-sm  rounded">
      <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
      <hr/>
      <div  id="user">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum corporis saepe beatae, rem vel est quaerat recusandae culpa dignissimos voluptates reiciendis hic nostrum deleniti minima eaque magnam, ipsa incidunt porro veritatis odio consequatur? Nemo, sequi necessitatibus, culpa earum harum expedita consectetur recusandae eum ratione tempora ullam a vitae quis.</div>
    </div>

    <div class="user2 shadow-sm   rounded">
    <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
    <hr/>
    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus doloremque sed a dolor veniam sapiente blanditiis quibusdam, nihil sequi.</div>
    </div>



      <div class="user1 shadow-sm  rounded">
        <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
        <hr/>
        <div  id="user">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum corporis saepe beatae, rem vel est quaerat recusandae culpa dignissimos voluptates reiciendis hic nostrum deleniti minima eaque magnam, ipsa incidunt porro veritatis odio consequatur? Nemo, sequi necessitatibus, culpa earum harum expedita consectetur recusandae eum ratione tempora ullam a vitae quis.</div>
      </div>

      <div class="user2 shadow-sm  rounded">
      <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
      <hr/>
      <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus doloremque sed a dolor veniam sapiente blanditiis quibusdam, nihil sequi.</div>
      </div>


      <div class="user1 shadow-sm  rounded">
        <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
        <hr/>
        <div  id="user">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum corporis saepe beatae, rem vel est quaerat recusandae culpa dignissimos voluptates reiciendis hic nostrum deleniti minima eaque magnam, ipsa incidunt porro veritatis odio consequatur? Nemo, sequi necessitatibus, culpa earum harum expedita consectetur recusandae eum ratione tempora ullam a vitae quis.</div>
      </div>

      <div class="user2 shadow-sm   rounded">
      <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
      <hr/>
      <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus doloremque sed a dolor veniam sapiente blanditiis quibusdam, nihil sequi.</div>
      </div>



      <div class="user1 shadow-sm  rounded">
        <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
        <hr/>
        <div  id="user">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum corporis saepe beatae, rem vel est quaerat recusandae culpa dignissimos voluptates reiciendis hic nostrum deleniti minima eaque magnam, ipsa incidunt porro veritatis odio consequatur? Nemo, sequi necessitatibus, culpa earum harum expedita consectetur recusandae eum ratione tempora ullam a vitae quis.</div>
      </div>

      <div class="user2 shadow-sm   rounded">
      <div class="font-weight-bold">@username <span class="float-right"> 12:00AM </span></div>
      <hr/>
      <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus doloremque sed a dolor veniam sapiente blanditiis quibusdam, nihil sequi.</div>
      </div>



    </div>
       


        <!-- Submit button-->
        <div class="btm" id="btm">
            <form id="form">
                <input id="input" placeholder="type your message here" autocomplete="off" type="text" required/>
                <input class="submit" id="submit_button" type="submit" value="send" />
            </form>
        </div>







    </div>

</div>
    

<!-- <div class="main">
<div class="head"></div>
<div class="body"></div>
<div class="btn"></div>
</div>
 -->









{% endblock %}


{% block script %}

<script>

  // Chat Dialouge Box- Title appearance changing effects`
    var parentlist = document.querySelector('.list-group');
      parentlist.addEventListener('click',chatboxheader, false)

    function chatboxheader(event){
    
    if (event.target !== event.currentTarget) {
      
      let name = event.target.textContent
      document.querySelector('.head-h3').textContent = name

      //removing the body and its all childs
      document.querySelector('.body').remove()

      //creating new body tag
      var a = document.createElement('body')
      a.classList = 'body'
      var after = document.querySelector('.main')
      after.insertBefore(a,after.childNodes[2])


      // enabling inputs

      if (document.querySelector('.head-h3').textContent === "#Flack Channel") {
        document.getElementById('input').setAttribute('disabled')
        document.getElementById('submit_button').setAttribute('disabled')
      }
      else{
       document.getElementById('input').remove('disabled')
       document.getElementById('submit_button').remove('disabled')
      }
    }

    event.stopPropagation();        
    
    };



    //Displaying user name on the screen
    document.addEventListener('DOMContentLoaded',()=>{
        
      //setting up the sessinStorage for username
       let sessionUsername = `{{username}}`
       sessionStorage.setItem('username', sessionUsername) 

        updateSidebarList();

    });

    function updateSidebarList(){

        const array = JSON.parse(localStorage.getItem('channelList'))
        const ulist = document.querySelector('#ulist')
        array.forEach(element => {

            //creating element and storing it into variable
            let alink = document.createElement('a')          
            let div = document.createElement('div')
          
            //setting up properties
            alink.setAttribute('onclick','chatboxheader()')
            alink.setAttribute('href','#')

            // alink.onclick = "chatboxheader();"
            // alink.href    = "#"

            div.classList = "list-group-item  sidebar-list"
            div.textContent = "#" + element

            //appending
            alink.append(div)
            ulist.append(alink) 

        });


    };




    //New Channel storage system

    
    function createNewChannelFunction(){

      var list = JSON.parse(localStorage.getItem('channelList'))
      var templist = []
      list.forEach(e => templist.push(e))
      const newChannelName =  document.querySelector('#channel_name').value

      //checking if the channel name already exists in the list or not
      if (list.find(element => element === newChannelName ) == undefined) {
        templist.push(newChannelName)
      }
      else{
        document.querySelector('#channel_name').value = ' '
        document.querySelector('.channelInvalidInput').textContent = 'Channel already exists.'
      }

      
     //updating localStorage 
     localStorage.setItem('channelList',JSON.stringify(templist));
    //wiping the inputs
      document.querySelector('#channel_name').value = ''

    // Updating Sidebar
      updateSidebarList();
      
    };   
    
</script>

{% endblock %}