{%extends 'layout.html'%}

{%block link%}
    <!-- <script src="../static/js/hashtag.js"></script> -->
{%endblock%}

{% block title%}
    Create Channel
{%endblock%}

{%block body%}

<section>
  <div class="row">
    <div class="col-md-6">
        <img class="w-100 h-100" src="../static/images/Create_user.png" alt="Image"/>
    </div>
    <div class="col-md-6">
      <div>

        <form action="{{ url_for('login')}}" method="post"  class="form container text-dark bg-white justify-content-center" style="padding: 30px 30px; width: 700px; height: 700px ;">
          <!-- name -->
          <div class="form-group">  
            <div class="form-row">
              <div class="col">
                <label for="fname" class="text-dark text-capitalize text-lowercase">First name</label>
                <input type="text" id="fname" name="fname" class="form-control border-top-0 border-right-0 border-left-0 border-bottom border-primary" placeholder="type here" autocomplete="off" required>
              </div>
              <div class="col">
                <label for="lname" class="text-dark text-capitalize text-lowercase">Last name</label>
                <input type="text" id="lname" name="lname" class="form-control border-top-0 border-right-0 border-left-0 border-bottom border-primary" placeholder="type here" autocomplete="off" required>
              </div>
            </div>
          </div>
    
    
          <!-- User_Name -->
          <div class="form-group">
            <label for="create_username" class="text-dark">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
              </div>
              <input type="text" id="create_username" name="create_username" class="form-control border-top-0 border-right-0 border-left-0 border-bottom border-primary" placeholder="type here" autocomplete="off"  required/>
            </div>
            <small class="form-text text-muted">
              username must be unique
            </small>
            <div class="text-warning font-weight-bold already-exists"></div>
          </div>
    
          <!-- PASSWORD -->
          <div class="form-group">
            <label for="create_password" class="text-dark">Password</label>
            <input type="password" id="create_password" name="create_password" class="form-control border-top-0 border-right-0 border-left-0 border-bottom border-primary" placeholder="type here" autocomplete="off" required/>
            <small class="form-text text-muted">
              Password should contains a combination of letters,digits,symbols and be atleast of 8 characters or more.
            </small>
          </div>
          <!-- Channel_Name -->
          <div class="form-group">
            <label for="channel_name" class="text-dark">Channel Name</label>
            <input type="text" id="channel_name" class="form-control border-top-0 border-right-0 border-left-0 border-bottom border-primary" placeholder="#Channel_Name" autocomplete="off">
            <small class="form-text text-muted">Your password must starts with <strong>#</strong> and should be 6-20 characters long, contain letters and numbers, and must not contain spaces, special characters or emoji.</small>
          </div>
          <hr/>
          <!-- T & C -->
          <div class="form-check">
            <input type="checkbox" class="form-check-input border-top-0 border-right-0 border-left-0 border-bottom border-primary" id="checkbox" required/>
            <label for="checkbox" class="form-check-label"> Accept our terms &amp; conditions </label>
          </div>
          <div class="form-group mt-3">
            <button type="submit" class="btn btn-outline-primary form-control">Submit</button>
          </div>
    
          <!-- login button -->
          <div>
            <span class="form-group float-right"><a href="/login">login</a></span>
          </div>
        </form>
    
      </div>
    </div>
  </div>
 
</section>

{%endblock%}

<!-- FOOTER STARTS -->
{% block footer %}
<footer style="margin-top: 7%;">

    <div class="align-text-bottom  text-muted text-center border-top my-2 pt-4 font-weight-bold">
        <p>Copyright ©2020, All rights reserved.</p>
    </div>
    
</footer>
{% endblock %}
<!-- FOOTER ENDS -->



<!-- JAVASCRIPT -->
{% block script %}

<script>

  document.addEventListener('DOMContentLoaded',()=>{
    // checking if user already exists or not.
    //if 'yes', then display 'Already exists'
    var message = '{{message}}'
    if (message === 'false') {
      document.querySelector('.already-exists').innerHTML = 'Already exists please try something else.'
    }

  });

  document.querySelector('.form').onsubmit = ()=>{

    // storing user raw password into localstorage in case of password forget.


    // checking if password key already exists in the localstorage or not

    if (localStorage.getItem('password') != null){
      return true
    }
    else{

      var pas = document.querySelector('#create_password').value

      localStorage.setItem('password',JSON.stringify(pas))

      return true
    };
    
  };

  
</script>

{% endblock %}