{%extends 'Layout.html'%}

{%block link%}
    <!-- <script src="../static/js/hashtag.js"></script> -->
{%endblock%}

{% block title%}
    Create Channel
{%endblock%}

{%block body%}

<div class="container-fluid">


<section>

  <div class="row no-gutters position-relative mt-4 align-items-center">

    <div class="col-lg-4 d-none d-lg-block">
        <img class="w-100 h-100" src="../static/images/Create_user.png" alt="Image"/>
    </div>
  

    <div class="col-12 col-lg-8 mt-5 d-flex justify-content-center align-items-center">

      <form action="{{ url_for('login')}}" method="post"  class="form container bg-white text-dark no-gutters p-lg-4">
        
        <!-- name -->
         <div class="col-12">

            <div class="form-group">  
                <div class="form-row align-items-center">

                  <div class="col-12 col-lg-6">

                    <label for="fname" class="text-dark text-capitalize text-lowercase">First name</label>
                    <input type="text" id="fname" name="fname" class="form-control form-control-lg border-top-0 border-right-0 border-left-0 border-bottom border-primary" placeholder="type here" autocomplete="off" required>
                
                  </div>

                  <!-- lil hack for line break only for mobile -->
                  <div class="col-12 d-lg-none my-2"></div>

                  <div class="col-12 col-lg-6">

                    <label for="lname" class="text-dark text-capitalize text-lowercase">Last name</label>
                    <input type="text" id="lname" name="lname" class="form-control form-control-lg border-top-0 border-right-0 border-left-0 border-bottom border-primary" placeholder="type here" autocomplete="off" required>
                  
                  </div>

                </div>
            </div>

         </div>
  
  
         <!-- User_Name -->
         <div class="col-12">

          <div class="form-group">
            <label for="create_username" class="text-dark">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
              </div>
              <input type="text" id="create_username" name="create_username" class="form-control form-control-lg border-top-0 border-right-0 border-left-0 border-bottom border-primary" placeholder="type here" autocomplete="off"  required/>
            </div>
              <small class="form-text text-muted">
                username must be unique
              </small>
              <div class="text-warning font-weight-bold already-exists"></div>
          </div>

         </div>
         
         <!-- PASSWORD -->
         <div class="col-12">

            <div class="form-group">
              <label for="create_password" class="text-dark">Password</label>
              <input type="password" id="create_password" name="create_password" class="form-control form-control-lg border-top-0 border-right-0 border-left-0 border-bottom border-primary" placeholder="type here" autocomplete="off" required/>
              <small class="form-text text-muted">
                Password should contains a combination of letters,digits,symbols and be atleast of 8 characters or more.
              </small>
            </div>

         </div>
       
         <!-- Channel_Name --> 
         <div class="col-12">

          <div class="form-group" hidden>
            <label for="channel_name" class="text-dark">Channel Name</label>
            <input type="text" id="channel_name" class="form-control form-control-lg border-top-0 border-right-0 border-left-0 border-bottom border-primary" placeholder="#Channel_Name" autocomplete="off">
            <small class="form-text text-muted">Your password must starts with <strong>#</strong> and should be 6-20 characters long, contain letters and numbers, and must not contain spaces, special characters or emoji.</small>
          </div>

         </div>
       
         <!-- T & C -->
        <div class="col-12">
          <div class="form-check border-top">
            <input type="checkbox" class="form-check-input border-top-0 border-right-0 border-left-0 border-bottom border-primary" id="checkbox" required/>
            <label for="checkbox" class="form-check-label"> Accept our terms &amp; conditions </label>
          </div>
        </div>

        <!-- submit button -->
        <div class="col-12">

          <div class="form-group mt-3">
            <button type="submit" class="btn btn-outline-primary form-control form-control-lg">Sign up</button>
          </div>

        </div>
  
        <!-- login button -->
        <div class="col-12">
          <span class="form-control btn btn-outline-primary float-right"><a href="/login">
            Already have an account? login. </a></span>
        </div>


      </form>
  
    </div>    


  </div>
 
</section>


</div>

{%endblock%}

<!-- FOOTER STARTS -->
{% block footer %}

<footer>

    <div class="d-flex align-items-center text-muted justify-content-center border-top font-weight-bold">
        <p>Copyright ©2020, All rights reserved.</p>
    </div>
    
</footer>

{% endblock %}

<!-- FOOTER ENDS -->



<!-- JAVASCRIPT -->
{% block script %}

<script>

  document.addEventListener('DOMContentLoaded',()=>{
    // checking if user already exists or not.
    //if 'yes', then display 'Already exists'
    var message = '{{message}}'
    if (message === 'false') {
      document.querySelector('.already-exists').innerHTML = 'Already exists please try something else.'
    }

  });

  document.querySelector('.form').onsubmit = ()=>{

    // storing user raw password into localstorage in case of password forget.


    // checking if password key already exists in the localstorage or not

    if (localStorage.getItem('password') != null){
      return true
    }
    else{

      var pas = document.querySelector('#create_password').value

      localStorage.setItem('password',JSON.stringify(pas))

      return true
    };
    
  };

  
</script>

{% endblock %}