<script defer>
    
  // sidebar slide 1  --> 
  function openSlideMenu(){
      let menu = document.getElementById('menu');
      menu.style.display = 'block';
      setTimeout(()=>{
          menu.style.width = '';
      },50)
  }

  function closeSlideMenu(){
      let menu = document.getElementById('menu');
      menu.style.width = '0px';
      setTimeout(()=>{
          menu.style.display = 'none';
      },500)
  }
  
  //functions for single task
  function openUserProfileSidebarSlide(){
      let div = document.querySelector('.sidebar-slide-profile')
      div.style.display = 'block';
        setTimeout(()=>{
          div.style.width = '';
        },50)
  }


  //event function for opening the sidebar.
  window.addEventListener('load',()=>{

      let body = document.querySelector('.sidebar-slide-body')
      body.addEventListener('click',sidebar_slide_open)
    })

  function sidebar_slide_open(e){

      let body = document.querySelector('.sidebar-slide-body').children
      const receiveText = e.target.textContent.toLowerCase()

      for(div in body){

          let text = body[div].title.toLowerCase()
          // checking if target is the root sidebar or not.
          if (receiveText === text && receiveText !== "<empty string>" && receiveText) {

            text = text.split(' ').join("-").toLowerCase()
         
            let sidebar_parent = document.querySelector(`.sidebar-slide-${text}`);
            
            let display = sidebar_parent.style["display"]
            
            if(sidebar_parent){

              if ( display === "none" || display === ''){
           
                if (text){
                  sidebar_parent.style.display = 'block';
                  setTimeout(()=>{
                    sidebar_parent.style.width = '';
                  },50)
                
                  return
                  
                 }
 
             }
            }
         }


      }

  }

  function sidebar_slide_close(){

    let sidebar_header = document.querySelectorAll('.sidebar-slider-header-text')
    
    sidebar_header.forEach(e => {
      
      let text = e.textContent
      text = text.split(' ').join("-").toLowerCase()
      
      let sidebar_parent = document.querySelector(`.sidebar-slide-${text}`);
      
      if (sidebar_parent.style.display === "block"){
      
        if (text){
          sidebar_parent.style.width = '0px';
            setTimeout(()=>{
              sidebar_parent.style.display = 'none';
            },500)
          }

      }
     

    })

    
  }
  

  </script>

  <link rel="stylesheet" href="../static/css/sidebar.css">

  <section>

      <!-- first sidebar slide -->
      <div class="col-12 col-md-5 col-lg-3 sidebar-slide-first sidebar-slide-nav" id="menu">

              <!-- sidebar slide starts -->
              <ul>

                  <div class="row sidebar-slide-head">

                      <div class="col-4 sidebar-slide-userProfile" title="User Profile">
                          <img src="../static/images/svg/default_profile_pic.svg" onclick="openUserProfileSidebarSlide()" class="w-50 rounded rounded-lg border border-light float-left bg-white" 
                          alt="User Profile Image">
                      </div>
                      
                      <div class="col-8 sidebar-slide-extra_buttons">

                          <!-- Create New Channel button -->
                          <button class="btn d-inline" id="create-channel-button" type="button" data-toggle="modal" data-target="#channelCreation" aria-expanded="false" aria-controls="collapseExample" style="font-size: 12px; padding: 2px" title="New Channel">
                              <i class="fas fa-2x fa-plus" aria-hidden="true"></i>
                          </button>

                          <!-- close button -->
                          <button class=" btn btn-default close" onclick="closeSlideMenu()" title="close">
                              <i class="fas fa-times"></i>
                          </button>
                      </div>
                  
                  </div>

                  <!-- <div class="sidebar-slide-body">
                          <li id="profile" onclick="openUserProfileSidebarSlide()">Profile</li>
                          <div>
                            <i class="fas fa-adjust"></i>
                            <li id="theme">Theme</li>
                          </div>
                          <li id="chat-wallpaper">Chat Wallpaper</li>
                          <li id="notifications">Notifications</li>
                          <li id="help">Help</li>
                  </div> -->

                  <div class="sidebar-slide-body">

                    <div class="row" title="profile" >
                      <div class="col-2">
                        <i class="fas fa-user"></i>
                      </div>
                      <div class="col-10">
                        <li>Profile</li>
                      </div>
                    </div>

                    <div class="row" title="Theme" >
                      <div class="col-2">
                        <i class="fas fa-adjust"></i>
                      </div>
                      <div class="col-10">
                        <li id="theme">Theme</li>
                      </div>
                    </div>

                    <div class="row" title="Chat Wallpaper" >
                      <div class="col-2">
                        <i class="far fa-image"></i>
                      </div>
                      <div class="col-10">
                        <li id="chat-wallpaper">Chat Wallpaper</li>
                      </div>
                    </div>

                    <div class="row"  title="Notifications">
                      <div class="col-2">
                        <i class="fas fa-bell"></i>
                      </div>
                      <div class="col-10">
                        <li id="notifications">Notifications</li>
                      </div>
                    </div>

                    <div class="row"  title="Help">
                      <div class="col-2">
                        <i class="fas fa-question-circle"></i>
                      </div>
                      <div class="col-10">
                        <li id="help">Help</li>
                      </div>
                    </div>

                  </div>

              </ul>
            
              <style>

                  .sidebar-slide-body > div {
                    margin: 0;
                    cursor: pointer;
                  }
  
                  .sidebar-slide-body > div > div{
                    justify-content: flex-start;
                    display: flex;
                    align-items: center;
                    color: white;
                  }
  
                  .sidebar-slide-body > div > .col-2 {
                    justify-content: center;
                  } 
                  
                  .sidebar-slide-body > div > .col-10 {
                    border-bottom: var(--border-bottom);
                  } 
                  
              </style>

      </div>


      <!-- second sidebar slide - user profile  -->
      <div class="col-12 col-md-5 col-lg-3 sidebar-slide-second sidebar-slide-profile sidebar-slide-nav h-100" style="">

          <!-- sidebar slide starts -->

              <div class="row sidebar-slide-head">

                  <div title="User Profile" style="display: flex;justify-content: flex-start;align-items: flex-end;margin: 0;padding: 0;" class="col-12 sidebar-slide-userProfile">
                      <!-- close button -->
                      <button class=" btn btn-default close" onclick="sidebar_slide_close()" id="close-user-profile" title="close">
                          <i class="fas fa-arrow-left" aria-hidden="true" style="font-size: 22px;font-weight: bold;color: white;"></i>
                      </button>
                      
                      <h3 class="sidebar-slider-header-text" style="color: #fff;
                      font-size: 22px;
                      font-family: verdana;
                      margin: 0;
                      font-weight: bold;">Profile</h3>
                  </div>
                  
              </div>

              
              <div class="sidebar-slide-body">
                    
                  <div class="user-profile-image" style="position: relative;height: 200px;left: 25%;max-width: min-content;margin-top: 5%;">
                
                  <img src="../static/images/svg/default_profile_pic.svg" class="rounded rounded-lg border border-light float-left bg-white" alt="User Profile Image" style="
                      position: static;
                      width: 200px;
                      height: 200px;
                      border: none !important;
                      background: none !important;
                      ">

                  </div>
              
                  <form class="mt-3 p-2 w-100" _lpchecked="1">

                      <div class="form-group">
                          <label class="text-white" for="sidebar-slide-user-profile-user-name">Your Name</label>
                          <input type="text" class="form-control-plaintext" id="sidebar-slide-user-profile-user-name" readonly="" value="N O M E S H" maxlength="25" autocomplete="off">
                      </div>

                      <div class="form-group">
                          <label class="text-white" for="sidebar-slide-user-profile-user-about">About</label>
                          <input type="text" readonly="" class="form-control-plaintext" id="sidebar-slide-user-profile-user-about" value="Busy" >
                      </div>
                      
                  </form>
                      
              </div>
              

              <style>
      
                  /* User profile sidebar... this is for Your Name */
          
                  #sidebar-slide-user-profile-user-name {
                    color: white !important;
                    font-weight: bold;
                    font-size: 16px;
                    border-bottom: 1px solid white;
                    margin-bottom: 10px;
                    outline: none;
                    font-family: verdana;
                  }
          
          
                  /* User profile sidebar... this is for about */
                  
                  #sidebar-slide-user-profile-user-about {
                    color: white !important;
                    font-size: 16px;
                    font-weight: bold;
                    border-bottom: 1px solid white;
                  }
                 
                     
              </style> 

      </div>


      <!-- Third sidebar slide - Chat wallpaper -->
      {% include "./sidebar-slide/chat_wallpaper.html"%}



  
  </section>
